

@media(max-width: 569px){
    /* these rules apply ONLY on screens 598px*/
    /* Start Home Page */
    .container{
      z-index: 0;
    }
    .container.home{
      margin-top: 80px;
    }
    
    
    /* End Home Page */
   
  
    /* Machine Mobile Page Header Styles */
    .btn.btn-primary{
      display: none;
    }
     /* Start Machine */
     .machine:last-child{
      margin-bottom: 120px;
    }
    .machine:first-child{
      margin-top: 0px;
    }
    
    .container.machine{
      position:fixed;
      z-index: 2;
      overflow-y: scroll;
      top: 106px;
      left: 0px;
      height: 100%;
    }
    /* .container.machine.washer{
      z-index: 100;
      overflow: scroll;
    } */
    .container.heading.dryer{
      display: none;
    }
    .container.heading.washer{
      position: inherit;
      z-index: 2;
      top: 48px;
      left: 0px;
      height: 7%;
      text-align: center;
      width: 100%;
      
    }
    .container.heading.washer .row{
      margin-top: 14px;
      text-align: center;
    }
    .col-6.heading{
      margin-bottom: -47px;
      padding-top: 10px;
      color: gray;
    }
    .col-6.heading.selected{
      color:#21A9D1;
      border-bottom: 2px solid #21A9D1;
    }
    .navUL{
      z-index: 1;
      background-color: #dd5608;
    }
    .heading h1{
      font-size: 20px;  
    }
    .container.machine .row{
      margin-top: 10px;
    }
    /* End Machine */
  
    .card-locations{
      background-color: white;
      border: solid 2px rgba(33, 169, 209, .5);
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
      width: 10rem;
    }
    .locations-map{
      width: 200px;
      height: 200px;
    }
  
  }/* END OF MEDIA QUERY FOR @media(max-width: 598px) */
    
    @media (min-width: 570px) {
      /* Home Page Full Screen Rules */

.container.home{
  margin-top: 62px; 
  border-radius: 20px;
  border: solid;
  
  background-color: rgb(71, 99, 158);
 
}

.content {
  position: relative;
}

.container.home .content h1{
  font-family: 'Nerko One', cursive;
  position: absolute;
  transform: translate(40%, -50%);
  text-align: center;
  padding-left: 30rem;
  
}

.container.home h1:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 1px #03a9f4;
}

.container.home h1:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

#home {
  margin-left: 0%;
  text-align: center;
}


.machine-selector {
  margin-top: 5%;
  margin-left: 20%;
  z-index: auto;
}

.popup {
  width: 160px;
  background-color: #555;
  color: #555;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
  margin-top: 20px;
  visibility: hidden;
}

.popup ul li{
  list-style-type: none;
  background-color: #555;
  color: white;
}

.popup ul li:hover{
  background-color: rgb(161, 161, 161);
}

.card-body .container{
      position: relative;
      display: inline-block;
}

.container button{
  color: white;
  background-color: black;
  border-radius: 10px;
}


.card-body:first-child .bg-light{
  margin-bottom: 30px;
}
.activeMachines{
  margin-top: 62px;
  margin-left: 90%;
}

.account .cash{
  color: green;
  margin-left: -30px;
}
.card.account{
  height: 418px;
}
.card-subtitle{
  font-size: 1.5rem;
}
.btn{
  height: 4rem;      
}
.home button{
  width: 100%;
}
.account .row{
  margin-top: 10px;
}
.account .row .col-12{
  margin-bottom: 10px;
}
.account .row:last-child{
  margin-bottom: 0px;
}
      /* End Home Page Full Screen Rules */
  
      /* Machine Page Full Screen Rules Start */
  
      
        .machine:last-child{
          margin-bottom: 120px;
        }
        
        .container.heading{
          margin-top: 200px;
        }
        
        .container.heading.washer .row .col-6:last-child{
          display: none;
        }
        .card-text{
          color: #21A9D1;
            
        }
     
      /* Machine End */
      
  
  /*LOCATION STUFF */
    .locationResults{
      display: none;
    }
    .location-header{
      font-size: 50px;
      margin-top: 70px;
      background-color: #7293A0;
      border-radius: 0px 15px 15px 0px;
      margin-right: 69%;
    }
  /* End LOCATION STUFF */
  /* this is really just for machine page and can be adjusted accordingly */
  .btn.btn-primary{
    position: absolute;
    width: 500px;
    bottom: 100px;
    left: 700px;
  
    
    background-color:  #21A9D1
    !important;
    border-color: rgba(155, 115, 82, 0.5)!important;
    
  }
  
  
  
  
  } /*  END OF MEDIA QUERY @media(MIN-width: 570px */
  
  
  
  /* Global Styles */
  .navUL {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      overflow: hidden;
      background-color: #4c97b3;
      background-image: url('../public/img/box-img.jpg');
      position: fixed;
      font-family: 'Raleway', sans-serif;
      font-weight: 1000;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    
  
    .navLI {
      border-right: 1px solid #bbb;
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #63a872;
    }  
    li:last-child {
      border-right: none;
    }
    
    .active{
        background-color: orange;
    }
    
  /* Main Image for home */
  main img{
    width: 100%;
    filter: invert(26%) sepia(93%) saturate(37%) hue-rotate(189deg) brightness(99%) contrast(92%);
  }
  /* Default BG Color */
  body{
    background-image: url('../public/img/background-img.jpg');
    background-color: rgb(216,221,239);
  }
  
  /* Start Machine Page Global Styles */
    /* Machine Page margin for Machine Cards */
    .machine{
      margin-top: 10px;
    }
    /* Border and Box Shadow for col-12 cards 
      If using cards and wants no border use->
      border: none
    */
    .col-12 .card{ 
      border: solid 2px rgba(33, 169, 209, .5);
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    }
    /* This card text should be consistent across app */
    .card-text{
      color: #21A9D1;
  
    }
  /* End Machine Page Global Styles */
  
  /* Global Form Rules For Contact Page */
  .forms{
    margin-top: 100px;
    margin-left: 0px;
  
  }
  
/*Rules for About Page */
  .desc{
    margin-top: 100px;
    margin-left: 0px;
  }

/* Location Page */


  
  
  
  
  /* Fonts and box size */
  *{
    box-sizing: border-box;
    font-family: 'Nunito', 'Raleway', sans-serif;
    /* req'd for bootstrap */
  }
  
  
    
  
    
  
   
  
  
    
  